<div id="resultaatBody">
        <p>Hier kun je het resultaat bekijken als er op een trein is gegokt</p>
        <mat-accordion>
                <div *ngFor="let inzet of inzettenArray; index as i">
                                        <app-resultaat-element-timer (notify)="onNotifyEvent($event)" (notifyResultaat)="resultaatChange($event)" [inzet]='inzet'>
                                        </app-resultaat-element-timer>
                </div>
        </mat-accordion>
        <br>
        <div>Totaalpunten: {{totaalPunten}}</div>
</div>