.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
  margin-top: 16px;
}

mat-slider {
  width: 70%;
}

mat-select mat-option {
  height: unset;
  white-space: normal;
}

p{
  margin-top: 4px;
}

mat-icon {
  font-size: 100%
}