<mat-expansion-panel >
    <mat-expansion-panel-header>
            <mat-panel-title>
                    {{inzet.game.trein.origin}} naar Amsterdam 
                    van {{inzet.game.trein.geplandeAankomsten[0].substring(11,16)}}
            </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- {{speler.naam}}
    {{speler.totaalPunten}}
    {{inzet.id}}
    {{inzet.game.id}}
    {{inzet.game.trein.origin}} -->
    De trein is aangekomen op: {{inzet.game.trein.werkelijkeAankomsten[0].substring(11,16)}}. <br>
    De trein {{inzet.game.trein.teLaat ? ' heeft vertraging op gelopen.' : ' is op tijd aangekomen.'}} <br>
    Jij hebt {{inzet.inzetTeLaat == inzet.game.trein.teLaat ? 'goed' : 'fout'}} gegokt! <br>
    {{inzet.inzetTeLaat == inzet.game.trein.teLaat ? 'Je verdient hiermee ' : 'Je loopt hierdoor '}} {{inzet.inzetBedrag * 2}} 
    {{inzet.inzetTeLaat == inzet.game.trein.teLaat ? 'punten.' : 'punten mis.'}}
</mat-expansion-panel>