<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <!-- {{trein.origin}} naar Amsterdam van {{trein.geplandeAankomsten[0]}} -->
        </mat-panel-title>
    </mat-expansion-panel-header>
    <pre>
        <!-- {{inzet.id}} -->
{{speler.naam}}
{{speler.totaalPunten}}
{{inzet.id}}
{{inzet.game.id}}
        <!-- {{speler.inzetten.id}} -->
        <!-- {{speler.inzetten.id[7]}} -->

        <!-- Deze trein is aangekomen op: {{trein.werkelijkeAankomsten[0]}}. <br>
        De trein {{isOpTijd ? ' is op tijd aangekomen.' : 'heeft vertraging op gelopen.'}} <br>
        Jij hebt {{resultaat ? 'goed' : 'fout'}} gegokt! <br>
        {{resultaat ? 'Je verdient hiermee ' : 'Je hebt helaas niks gewonnen.'}} {{teWinnenPunten}} punten. -->
        </pre>
</mat-expansion-panel>